<div style="opacity: 1; display: block; margin-left: 50px; margin-right: 200px">
  <div>
    <h2>Title of Instructions - TBC</h2>
    <p>
      Thank you for taking the time to participate in the UI Search Bot user
      study! In this study you will take on the role of a user, who uses the
      chatbot for finding UI screens to design and build mobile applications for
      different domains. In this role you would like to find GUIs for the
      following use cases: Shopping app with account, Travel app, News app and
      Health app.
    </p>
    <p></p>
    <p></p>
  </div>
</div>
